<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Jinghao Niu</a></h1>
            <p>I am a third-year PhD student at CASIA <br />in Beijing, China.<br />
            My current research focuses on Processing Natural Language Text and  <br> Understanding Physical Signals (e.g., ECG) in the health field.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one">About</a></li>
                <li><a href="#two">Education</a></li>
                <li><a href="#three">Projects</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.facebook.com/people/Jinghao-Niu/100005153619647" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/windniu" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/jinghao-niu-a105a384/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="https://www.linkedin.com/in/jinghao-niu-a105a384/" class="icon fa-paperclip"><span class="label">paperclip</span><B><font color="yellow">CV</font></B></a></li>
            </ul>
        </footer>
    </section>

